<section id="search">
  <blockquote><p>Search from all articles</p></blockquote>
  <form>
    <input type="text" class="search-input" id="search-input" placeholder="Type something ...">
  </form>
  <div id="search-result"></div>
  <p class="search-no-result"><%= __('search.no_results') %></p>
</section>
